body{
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}
#background-video {
   width: 100vw;
   height: 100vh;
   object-fit: fill;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}
div.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: 1rem;
    background-color: blue;
    border: none;
    border-radius: 20px;
    color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}
#status{
	font-size: xxx-large;
	color: white;
	text-shadow: 2px 2px 3px black;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
#coin{
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 2rem 0rem;
    transform-style: preserve-3d;
}

#coin div{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    background-size: contain;
    position: absolute;
}

.bomax{
    background-image: url(images/bomax.jpg);
}

.animate-bomax{
    animation: flipbomax 3s;
    animation-fill-mode: forwards;
}

@keyframes flipbomax {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(1800deg);
    }
}

.douglas{
    background-image: url(images/douglas.jpg);
    transform: rotateY(-180deg);
}

.animate-douglas{
    animation: flipdouglas 3s;
    animation-fill-mode: forwards;
}


@keyframes flipdouglas {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(1620deg);
    }
}